social-scheduler/workflows/02-scheduler.json
{
  "name": "FF Social - 02 Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Read Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "scheduled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ DateTime.fromISO($json.scheduled_at.replace(' ', 'T'), {zone: 'Pacific/Auckland'}).toISO() }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Filter Due Posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cap1",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cap2",
              "leftValue": "={{ $json.type }}",
              "rightValue": "story",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000015",
      "name": "Has Caption?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "mp1",
              "leftValue": "={{ String($json.manual_post).toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000018",
      "name": "Is Manual Post?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "8770824903",
        "text": "=Manual post due: Family Frequencies\n\nType: {{ $json.type }}\nScheduled: {{ $json.scheduled_at }}\nPost ID: {{ $json.id }}\n\nMedia:\n{{ $json.media_url }}\n\nCaption:\n{{ $json.caption || '(no caption)' }}\n\nNotes:\n{{ $json.notes || 'None' }}\n\nTap Posted after you publish it manually.",
        "additionalFields": {
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: [[{ text: 'Posted', callback_data: 'manual_posted:' + $json.id }]] }) }}"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000019",
      "name": "Telegram - Manual Post",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        260
      ],
      "credentials": {
        "telegramApi": {
          "id": "84902e45-0f92-484d-adf6-7c46787f4f51",
          "name": "Telegram Bot - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Is Manual Post?').item.json.id }}",
            "status": "manual_sent",
            "telegram_msg_id": "={{ $json.message_id.toString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000020",
      "name": "Mark manual_sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1500,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8770824903",
        "text": "=\u26a0\ufe0f *FF Social - Post skipped, no caption*\n\nRow `{{ $json.id }}` was due but has an empty caption so it wasn't posted.\n\n*Media:* {{ $json.media_url }}\n*Scheduled:* {{ $json.scheduled_at }}\n*Type:* {{ $json.type }}\n\nFix the caption in the sheet and set status back to `scheduled`.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000016",
      "name": "Telegram - No Caption",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "84902e45-0f92-484d-adf6-7c46787f4f51",
          "name": "Telegram Bot - FF Social"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "nc1",
              "leftValue": "={{ String($json.needs_music).toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Needs Music?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "8770824903",
        "text": "=\ud83c\udfb5 *FF Social - Music needed!*\n\nA post is ready but needs music added before it goes live.\n\n*Caption:* {{ $json.caption }}\n*Scheduled:* {{ $json.scheduled_at }}\n*Post ID:* `{{ $json.id }}`\n\n1. Open Instagram\n2. Post it with music added\n3. Update status to `posted` in the sheet",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Telegram - Needs Music",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "84902e45-0f92-484d-adf6-7c46787f4f51",
          "name": "Telegram Bot - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "needs_music"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Mark needs_music",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "tc1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "story",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Is Story?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "si1",
              "leftValue": "={{ /\\/image\\/upload\\/|\\.(png|jpe?g|webp)(\\?|$)/i.test($json.media_url || '') ? 'image' : 'video' }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000015",
      "name": "Is Story Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://graph.facebook.com/v21.0/${$env.FF_INSTAGRAM_ACCOUNT_ID}/media` }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.media_url }}"
            },
            {
              "name": "media_type",
              "value": "STORIES"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FF_INSTAGRAM_APP_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000016",
      "name": "Create Story Image Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://graph.facebook.com/v21.0/${$env.FF_INSTAGRAM_ACCOUNT_ID}/media_publish` }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FF_INSTAGRAM_APP_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000017",
      "name": "Publish Story Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "resource": "stories",
        "operation": "publish",
        "node": "17841423462154349",
        "videoUrl": "={{ $json.media_url }}",
        "caption": "={{ $json.caption || '' }}",
        "graphApiVersion": "v21.0"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Post Story",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        1560,
        420
      ],
      "credentials": {
        "instagramApi": {
          "id": "qHcYkzUPFlme1kj9",
          "name": "Instagram API - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Mark Story Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2000,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "rc1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "reel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Is Reel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        520
      ]
    },
    {
      "parameters": {
        "resource": "reels",
        "operation": "publish",
        "node": "17841423462154349",
        "videoUrl": "={{ $json.media_url }}",
        "caption": "={{ $json.caption }}",
        "graphApiVersion": "v21.0"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Post Reel",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        1560,
        440
      ],
      "credentials": {
        "instagramApi": {
          "id": "qHcYkzUPFlme1kj9",
          "name": "Instagram API - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000012",
      "name": "Mark Reel Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1780,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "publish",
        "node": "17841423462154349",
        "imageUrl": "={{ $json.media_url }}",
        "caption": "={{ $json.caption }}",
        "graphApiVersion": "v21.0"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000013",
      "name": "Post Image",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        1560,
        620
      ],
      "credentials": {
        "instagramApi": {
          "id": "qHcYkzUPFlme1kj9",
          "name": "Instagram API - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000014",
      "name": "Mark Image Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1780,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Min": {
      "main": [
        [
          {
            "node": "Read Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Queue": {
      "main": [
        [
          {
            "node": "Filter Due Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Posts": {
      "main": [
        [
          {
            "node": "Has Caption?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Caption?": {
      "main": [
        [
          {
            "node": "Is Manual Post?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - No Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Manual Post?": {
      "main": [
        [
          {
            "node": "Telegram - Manual Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Music?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Manual Post": {
      "main": [
        [
          {
            "node": "Mark manual_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Music?": {
      "main": [
        [
          {
            "node": "Telegram - Needs Music",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Story?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Needs Music": {
      "main": [
        [
          {
            "node": "Mark needs_music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Story?": {
      "main": [
        [
          {
            "node": "Is Story Image?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Reel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Story Image?": {
      "main": [
        [
          {
            "node": "Create Story Image Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Story Image Container": {
      "main": [
        [
          {
            "node": "Publish Story Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Story Image": {
      "main": [
        [
          {
            "node": "Mark Story Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Story": {
      "main": [
        [
          {
            "node": "Mark Story Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reel?": {
      "main": [
        [
          {
            "node": "Post Reel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Reel": {
      "main": [
        [
          {
            "node": "Mark Reel Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Image": {
      "main": [
        [
          {
            "node": "Mark Image Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  }
}
