social-scheduler/workflows/02-scheduler.json
{
  "name": "FF Social - 02 Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Read Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "scheduled",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ DateTime.fromISO($json.scheduled_at.replace(' ', 'T'), {zone: 'Pacific/Auckland'}).toISO() }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": { "type": "dateTime", "operation": "before" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Filter Due Posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cap1",
              "leftValue": "={{ $json.caption }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000015",
      "name": "Has Caption?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "chatId": "8770824903",
        "text": "=⚠️ *FF Social - Post skipped, no caption*\n\nRow `{{ $json.id }}` was due but has an empty caption so it wasn't posted.\n\n*Media:* {{ $json.media_url }}\n*Scheduled:* {{ $json.scheduled_at }}\n*Type:* {{ $json.type }}\n\nFix the caption in the sheet and set status back to `scheduled`.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000016",
      "name": "Telegram - No Caption",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 520],
      "credentials": {
        "telegramApi": {
          "id": "84902e45-0f92-484d-adf6-7c46787f4f51",
          "name": "Telegram Bot - FF Social"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "nc1",
              "leftValue": "={{ $json.needs_music }}",
              "rightValue": "TRUE",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Needs Music?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "8770824903",
        "text": "=🎵 *FF Social - Music needed!*\n\nA post is ready but needs music added before it goes live.\n\n*Caption:* {{ $json.caption }}\n*Scheduled:* {{ $json.scheduled_at }}\n*Post ID:* `{{ $json.id }}`\n\n1. Open Instagram\n2. Post it with music added\n3. Update status to `posted` in the sheet",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Telegram - Needs Music",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 120],
      "credentials": {
        "telegramApi": {
          "id": "84902e45-0f92-484d-adf6-7c46787f4f51",
          "name": "Telegram Bot - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "needs_music"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Mark needs_music",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1340, 120],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "tc1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "story",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Is Story?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "resource": "stories",
        "operation": "publish",
        "node": "17841423462154349",
        "videoUrl": "={{ $json.media_url }}",
        "caption": "={{ $json.caption || '' }}",
        "graphApiVersion": "v21.0"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Post Story",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [1340, 320],
      "credentials": {
        "instagramApi": {
          "id": "qHcYkzUPFlme1kj9",
          "name": "Instagram API - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Mark Story Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1560, 320],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "rc1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "reel",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Is Reel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "resource": "reels",
        "operation": "publish",
        "node": "17841423462154349",
        "videoUrl": "={{ $json.media_url }}",
        "caption": "={{ $json.caption }}",
        "graphApiVersion": "v21.0"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Post Reel",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [1560, 440],
      "credentials": {
        "instagramApi": {
          "id": "qHcYkzUPFlme1kj9",
          "name": "Instagram API - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000012",
      "name": "Mark Reel Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 440],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "publish",
        "node": "17841423462154349",
        "imageUrl": "={{ $json.media_url }}",
        "caption": "={{ $json.caption }}",
        "graphApiVersion": "v21.0"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000013",
      "name": "Post Image",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [1560, 620],
      "credentials": {
        "instagramApi": {
          "id": "qHcYkzUPFlme1kj9",
          "name": "Instagram API - FF Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Filter Due Posts').item.json.id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000014",
      "name": "Mark Image Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 620],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Min": {
      "main": [[{ "node": "Read Queue", "type": "main", "index": 0 }]]
    },
    "Read Queue": {
      "main": [[{ "node": "Filter Due Posts", "type": "main", "index": 0 }]]
    },
    "Filter Due Posts": {
      "main": [[{ "node": "Has Caption?", "type": "main", "index": 0 }]]
    },
    "Has Caption?": {
      "main": [
        [{ "node": "Needs Music?", "type": "main", "index": 0 }],
        [{ "node": "Telegram - No Caption", "type": "main", "index": 0 }]
      ]
    },
    "Needs Music?": {
      "main": [
        [{ "node": "Telegram - Needs Music", "type": "main", "index": 0 }],
        [{ "node": "Is Story?", "type": "main", "index": 0 }]
      ]
    },
    "Telegram - Needs Music": {
      "main": [[{ "node": "Mark needs_music", "type": "main", "index": 0 }]]
    },
    "Is Story?": {
      "main": [
        [{ "node": "Post Story", "type": "main", "index": 0 }],
        [{ "node": "Is Reel?", "type": "main", "index": 0 }]
      ]
    },
    "Post Story": {
      "main": [[{ "node": "Mark Story Posted", "type": "main", "index": 0 }]]
    },
    "Is Reel?": {
      "main": [
        [{ "node": "Post Reel", "type": "main", "index": 0 }],
        [{ "node": "Post Image", "type": "main", "index": 0 }]
      ]
    },
    "Post Reel": {
      "main": [[{ "node": "Mark Reel Posted", "type": "main", "index": 0 }]]
    },
    "Post Image": {
      "main": [[{ "node": "Mark Image Posted", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  }
}
