social-scheduler/workflows/03-video-poller.json
{
  "name": "FF Social - 03 Video Poller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 2 }]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Every 2 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Read Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "p1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Filter Processing",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.container_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "status_code" },
            { "name": "access_token", "value": "={{ $env.IG_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Check Container Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "status_code",
              "value": "={{ $json.status_code }}",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "container_id",
              "value": "={{ $('Filter Processing').item.json.container_id }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "post_id",
              "value": "={{ $('Filter Processing').item.json.id }}",
              "type": "string"
            },
            {
              "id": "m4",
              "name": "caption",
              "value": "={{ $('Filter Processing').item.json.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Merge Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "sc1",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Is Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.IG_USER_ID }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "creation_id", "value": "={{ $json.container_id }}" },
            { "name": "access_token", "value": "={{ $env.IG_ACCESS_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Publish Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Merge Context').item.json.post_id }}",
            "status": "posted",
            "posted_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Mark Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "ec1",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "ERROR",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000009",
      "name": "Is Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "chatId": "8770824903",
        "text": "=❌ *FF Social - Post failed!*\n\nA video post failed to process on Instagram.\n\n*Post ID:* `{{ $json.post_id }}`\n*Container ID:* `{{ $json.container_id }}`\n*Caption:* {{ $json.caption }}\n\nCheck Instagram Business Manager for details. You may need to re-upload the media.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000010",
      "name": "Telegram - Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 360],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Merge Context').item.json.post_id }}",
            "status": "failed",
            "notes": "Instagram processing error"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000011",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1780, 480]
    }
  ],
  "connections": {
    "Every 2 Min": {
      "main": [[{ "node": "Read Queue", "type": "main", "index": 0 }]]
    },
    "Read Queue": {
      "main": [[{ "node": "Filter Processing", "type": "main", "index": 0 }]]
    },
    "Filter Processing": {
      "main": [[{ "node": "Check Container Status", "type": "main", "index": 0 }]]
    },
    "Check Container Status": {
      "main": [[{ "node": "Merge Context", "type": "main", "index": 0 }]]
    },
    "Merge Context": {
      "main": [[{ "node": "Is Finished?", "type": "main", "index": 0 }]]
    },
    "Is Finished?": {
      "main": [
        [{ "node": "Publish Video", "type": "main", "index": 0 }],
        [{ "node": "Is Error?", "type": "main", "index": 0 }]
      ]
    },
    "Publish Video": {
      "main": [[{ "node": "Mark Posted", "type": "main", "index": 0 }]]
    },
    "Is Error?": {
      "main": [
        [{ "node": "Telegram - Error Alert", "type": "main", "index": 0 }],
        []
      ]
    },
    "Telegram - Error Alert": {
      "main": [[{ "node": "Mark Failed", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  }
}
