social-scheduler/workflows/07-delete-post.json
{
  "name": "FF Social - 07 Delete Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff-delete-post",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f7a7b8c9-0007-0007-0007-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ff-delete-post"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIrB4lsDqJuGvoOpNTfNhM64xfkg6TkUVNTPhGWvR1g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id":     "={{ $('Webhook').item.json.body.id }}",
            "status": "deleted"
          },
          "matchingColumns": ["id"],
          "schema": []
        },
        "options": {}
      },
      "id": "f7a7b8c9-0007-0007-0007-000000000002",
      "name": "Mark Deleted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mqPbkP7EiSN6v7BF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": { "options": {} },
      "id": "f7a7b8c9-0007-0007-0007-000000000003",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook":      { "main": [[{ "node": "Mark Deleted", "type": "main", "index": 0 }]] },
    "Mark Deleted": { "main": [[{ "node": "Respond",      "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "" }
}
